.keyword{
    color:blueviolet;
}
.blog{
    border:10px dotted deepskyblue;
    border-radius: 5px;
    margin: 4px;
    padding: 40px;
    width: 30%;
    height: 20%;
    float: left;
    display: inline-block;
}
h3{
    text-align: center;
}
p{
    text-align: justify;
}